{% block content %}
<script src="/static/js/customerSearch.js"> </script>
<script type="text/javascript">

   window.onload = function () {
     var chart = new CanvasJS.Chart("chartContainer",
     {
       title:{
       text: "Earthquakes - per month"
       },
        data: [
       {
         type: "line",
 
         dataPoints: JSON.parse('{{result | tojson}}')
       }
       ]
     });
 
     chart.render();
   }            
   setInterval(function(){chart.destroy(); window.onload();},10);
   </script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script></head>
 <body>
   <div id="chartContainer" style="height: 300px; width: 100%;">
   </div>
 </body>	
 {% endblock %}