{% extends "layout.html" %}

{% block content %}
<h1>Top Music Albums</h1>
<p>For February 2015</p>
<table>
<tr><th>Artist</th><th>Album</th></tr>
{% for album in albums %}
<tr><td>{{album['artist']}}</td><td>{{album['name']}}</td></tr>
{% endfor %}
</table>
<h2>Add an entry</h2>
<form  method = "POST" action="{{url_for('showChartForms')}}">
<table>
<tr><td>Artist</td><td><input type="text" id="artist" name="artist" size="35"></td></tr>
<tr><td>Album</td><td><input type="text" id="album" name="album" size="35"></td></tr>
<tr><td>Rank</td><td><input type="text" id="rank" name="rank" size="5"></td></tr>
<tr><td></td><td><input type="submit" value="Add Entry" /></td></tr>  
</table>
{% endblock %}