{% block content %}
<h1>All Stores</h1>
<p>... since 1950</p>
<div style="height: 500px; overflow: auto;">
  <table id="id01" style="table-layout: fixed;">
    <tr>
      <th>Card ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Total Points</th>
      <th>Rewards</th>
      <th>Birthdate</th>
      <th>Marital Status</th>
      <th>SSN</th>
      <th>Sex</th>
      <th>Phone Number</th>
    </tr>
    {% for album in albums %}
    <tr>
      <td>{{album[0]}}</td>
      <td>{{album[1]}}</td>
      <td>{{album[2]}}</td>
      <td>{{album[3]}}</td>
      <td>{{album[4]}}</td>
      <td>{{album[5]}}</td>
      <td>{{album[6]}}</td>
      <td>{{album[7]}}</td>
      <td>{{album[8]}}</td>
      <td>{{album[9]}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
