{% extends "layout.html" %} {% block content %}
<script src="/static/js/editProducts.js"></script>
<form class="form-inline" action="/action_page.php">
  <label for="edit">Action:</label>
  <select
    type="text"
    name="Action"
    placeholder="Add/Update/Remove"
    value=""
    id="action"
  >
    <option value="1" selected>Add</option>
    <option value="0">Update</option>
    <option value="-1">Remove</option>
  </select>

  <label for="barcode">Barcode*:</label>
  <input type="text" id="barcode" />

  <label for="product_name">Product Name*:</label>
  <input type="text" id="product_name" />

  <label for="producer_name">Producer Name*:</label>
  <input type="text" id="producer_name" />

  <label for="price">Price:</label>
  <input type="text" id="price" />

  <label for="special_note">Special Note:</label>
  <input type="text" id="special_note" />

  <label for="category">Category:</label>
  <select type="text" name="category" placeholder="" value="" id="category">
    <option value="" selected>-</option>
    <option value="Κάβα">Κάβα</option>
    <option value="Είδη Σπιτιού">Είδη Σπιτιού</option>
    <option value="Κατοικίδια">Κατοικίδια</option>
    <option value="Ποϊόντα Ψυγείου">Ποϊόντα Ψυγείου</option>
    <option value="Προσωπικής Περιποίησης">Προσωπικής Περιποίησης</option>
    <option value="Φρέσκα Προϊόντα">Φρέσκα Προϊόντα</option>
  </select>

  <label for="button">Activation Button:</label>
  <button onclick="myFunction()">Save Changes</button>
</form>
<div id="demo"></div>

{% endblock %}
