{% extends "layout.html" %}
{% block content %}

<script src="/static/js/customerSearch.js"> </script>
<label for="card_id">Card_ID:</label>
<input type="text" id="card_id" onchange="searchCustomer()">
<script src="/static/js/customerSearch.js"> </script>
<script type="text/javascript">

	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer",
			{
				title:{
					text: "Frequency - per hour"
				},
				data: [
					{
						type: "line",

						dataPoints: JSON.parse('{{result | tojson}}')
					}
				]
			});

		chart.render();
	}            
setInterval(function(){ window.onload();},100);

</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script></head>
  <body>
	  <div id="chartContainer" style="height: 300px; width: 100%;">
	  </div>
  </body>	
  <div id="demo", style="display:none"> </div>
  {% endblock %}
