{% block content %}
<h1>Additive Transaction Data</h1>
<p>... since 1950</p>
<div style="height: 500px; overflow: auto;">
  <table id="id01" style="table-layout: fixed;">
    <tr>
      <th>Barcode</th>
      <th>Product Name</th>
      <th>Producer Name</th>
      <th>Price</th>
      <th>Special Note</th>
      <th>Category</th>
    </tr>
    {% for album in albums %}
    <tr>
      <td>{{album[0]}}</td>
      <td>{{album[1]}}</td>
      <td>{{album[2]}}</td>
      <td>{{album[3]}}</td>
      <td>{{album[4]}}</td>
      <td>{{album[5]}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
