{% block content %}
<h1>All Stores</h1>
<p>... since 1950</p>
<div style="height: 500px; overflow: auto;">
  <table id="id01" style="table-layout: fixed;">
    <tr>
      <th>Store ID</th>
      <th>Phone</th>
      <th>City</th>
      <th>Address</th>
      <th>Postal Code</th>
      <th>Opening Hours</th>
      <th>Closing Hours</th>
      <th>Square Meters</th>
    </tr>
    {% for album in albums %}
    <tr>
      <td>{{album[0]}}</td>
      <td>{{album[1]}}</td>
      <td>{{album[2]}}</td>
      <td>{{album[3]}}</td>
      <td>{{album[4]}}</td>
      <td>{{album[5]}}</td>
      <td>{{album[6]}}</td>
      <td>{{album[7]}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
