{% extends "layout.html" %}
{% block content %}
<h1>Percentage per age group</h1>
<table>
  <tr>
    <th>Under 20</th>
    <th>20-29</th>
    <th>30-39</th>
    <th>40-49</th>
    <th>50-59</th>
    <th>60-69</th>
    <th>Over 70</th>
    <th>Hour</th>

  </tr>
  {% for result in results %}
  <tr>
    <td>{{result[0]}}</td>
    <td>{{result[1]}}</td>
    <td>{{result[2]}}</td>
    <td>{{result[3]}}</td>   
    <td>{{result[4]}}</td>   
    <td>{{result[5]}}</td>   
    <td>{{result[6]}}</td>
    <td>{{result[7]}}</td>   

  </tr>
  {% endfor %}
</table>
{% endblock %}
