{% extends "layout.html" %} {% block content %}
<h1>Sales per category per shop</h1>
<div style="height: 500px; overflow: auto;">
  <table>
    <tr>
      <th>Card ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Total Points</th>
      <th>Rewards</th>
      <th>Birth date</th>
      <th>Marital Status</th>
      <th>SSN</th>
      <th>Sex</th>
      <th>Phone Number</th>
    </tr>
    {% for result in results %}
    <tr>
      <td>{{result[0]}}</td>
      <td>{{result[1]}}</td>
      <td>{{result[2]}}</td>
      <td>{{result[3]}}</td>
      <td>{{result[4]}}</td>
      <td>{{result[5]}}</td>
      <td>{{result[6]}}</td>
      <td>{{result[7]}}</td>
      <td>{{result[8]}}</td>
      <td>{{result[9]}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
